body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    background: url('background.webp') no-repeat center center fixed;
    background-size: cover;
    font-family: Arial, sans-serif;
}

header, main, footer {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 20px 0;
    color: #fff; /* Cambia el color del texto para mejorar visibilidad sobre el fondo oscuro */
}

.logo {
    max-width: 100%;
    height: 16vh;
}

.slogan {
    max-width: 100%;
    max-width: 600px;
    height: auto;
}

.video-wrapper {
    position: relative;
    width: 90%; /* Mantenemos el ancho original que tenías para el video */
    max-width: 800px;
    border-radius: 20px;
    overflow: hidden; /* Asegúrate de que nada se salga de los bordes redondeados */
    box-shadow: 0 0 20px rgba(255, 255, 255, 0.75);
}

.video {
    width: 100%;
    height: 100%;
    border-radius: 20px; /* Se mantiene el borde redondeado */
    position: relative;
    z-index: 1; /* Posición relativa y z-index para asegurarnos que está debajo del botón */
}

.play-button {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; /* Hacemos que el play-button cubra todo el video */
    height: 100%;
    z-index: 2; /* z-index más alto para asegurarse que esté por encima del video */
    background: rgba(0, 0, 0, 0); /* Fondo transparente */
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

.play-button::before {
    content: ''; /* Usamos un pseudo-elemento para el ícono */
    display: block;
    width: 128px;
    height: 128px;
    background: url('play-icon.png') no-repeat center center;
    background-size: cover;
}

.instagram-button {
    padding: 15px 30px; /* Aumenta el tamaño del botón */
    background: linear-gradient(135deg, #FF007F, #7F00FF); /* Gradiente de rosa a morado */
    color: white;
    text-decoration: none;
    border-radius: 10px; /* Bordes redondeados suaves */
    font-size: 18px; /* Tamaño de fuente más grande */
    transition: box-shadow 0.3s ease; /* Transición suave para el glow */
}

.instagram-button:hover {
    box-shadow: 0 0 20px 2px rgba(255, 105, 180, 0.75); /* Efecto glow rosado al pasar el ratón */
}

.instagram-button:hover {
    background-color: #0077b5;
}
